* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: oklch(28.2% 0.091 267.935);   
}
body {
  background-color: #1a234d; 
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
}

.titulo-principal {
  color:#ffffff ;           
  font-size: 5rem;       
  margin-bottom: 20px;      
  text-align: center;
}

.tarjeta {
  background-color: oklch(44.3% 0.11 240.79); 
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 500px;
  max-width: 90%;
}

.item-tarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #e5e5e5;
  gap: 12px;
  width: 100%;
}

.btn-eliminar {
  background-color: #ff4d4d;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.1s;
}

.btn-eliminar:hover {
  background-color: #ff3333;
}

.btn-eliminar:active {
  transform: scale(0.9);
}

.texto-tarea {
  flex: 1;                  
  color: #000000;           
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s;
  word-break: break-word;     
  overflow-wrap: break-word;   
  min-width: 0;
}

.check-completado {
  appearance: none;
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 2px solid #5a9bd5;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.check-completado:hover {
  border-color: #2e7d32;
  background-color: transparent;
}

.check-completado:active {
  transform: scale(0.9);
}

.check-completado:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.check-completado:checked::after {
  content: '✓';
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.item-tarea:has(.check-completado:checked) .texto-tarea {
  text-decoration: line-through;
  color: #a0aec0;
}

.contenedor-input {
  display: flex;
  align-items: center;
  gap: 12px;          
  margin-bottom: 25px; 
}


.input-tarea {
  flex: 1;
  padding: 12px 20px;    
  font-size: 16px;        
  border: 2px solid #ccc;
  border-radius: 20px;      
  outline: none;
  background-color: #ffffff;
  color: #333333;
  transition: all 0.3s ease;
}

.input-tarea:focus {
  border-color: #1a234d;    
  box-shadow: 0 0 8px rgba(26, 35, 77, 0.2); 
}

.boton-agregar {
  width: 45px;              
  height: 45px;
  border-radius: 50%;       
  background-color: #1a234d;
  color: white;
  border: none;
  font-size: 22px;          
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;     
  justify-content: center; 
  transition: transform 0.2s, background-color 0.2s;
  flex-shrink: 0;           
}

.boton-agregar:hover {
  background-color: #2c3a7a;
  transform: scale(1.08);   
}

.boton-agregar:active {
  transform: scale(0.95);   
}